.card-spacer {
  min-height: 30px;
}

.title-spacer {
  margin: 0 0 20px 0;
}

.button-full {
    width: 100%;
}

.app-button {
  min-height: 200px;
  max-height: 200px;
  min-width: 200px;
  max-width: 200px;
  margin-right: 10px;
  margin-bottom: 30px;;
}

.app-card-title {
  text-decoration: none !important;
  color: #666666 !important;
  cursor: pointer;
}

.progress-circular {
  display: block;
  width: 100px;
  margin: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

/* Remove padding from mobile views */
@media only screen and (max-width: 960px) {
  .container {
    padding: 0;
  }
}
