.card-spacer {
  min-height: 30px;
}

.title-spacer {
  margin: 0 0 20px 0;
}

.button-full {
    width: 100%;
}

.app-button {
  min-height: 200px;
  max-height: 200px;
  min-width: 200px;
  max-width: 200px;
  margin-right: 10px;
  margin-bottom: 30px;;
}